ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin: 8px;
    cursor: pointer;
    font-size: 2em;
}

li.selected {
    font-weight: bold;
    font-size: 2.2em;
    color: darkblue;
}

