<!-- <ul>
    <li>✅Create a work experience object</li>
    <li>Create a resume entries Observable</li>
    <li>Drag to reorder</li>
    <li>Add from contract to perm bucket</li>
    <li>Undo drag  (ngrx)</li>
    <li>Flesh out tests</li>
  
  
    <li>Create and test resume entry component </li>
    <li>Create and test star rating on resume entry</li>
    <li>Create resume service that "loads" provides observable of items</li>
  
    <li>About me page with transition (routed component)</li>
  </ul> -->

  <header>
      This project demonstrates some mechanisms in the Angular Framework
  </header>


  <a routerLink="/resume">View Angular experience</a>
  